@font-face {
  font-family: "Averta";
  src: url("font/Avertademopecutteddemoregular.ttf");  
}
@font-face {
  font-family: "Tiempos";
  src: url("font/TiemposHeadlineTest-Semibold.otf");
}
html {
  font-size: 16px;
  color: #5b5e6d;
  font-family: "Averta", sans-serif;
}
body {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1, h2, h3 {
  font-family: "Tiempos", serif;
  color: #323648; 
}
h1 {
  font-size: 4.8rem;
  line-height: 1.05;
  letter-spacing: normal;
  margin: 100px 260px 2rem 55px;  
}
h2 {
  font-size: 2rem;
  margin-top: 58px;
  margin-bottom: 23px;
}
h3 {
  font-size: 1.5rem;
  margin-left: 106px;
  margin-bottom: 0px;
}
input {
  width: 341px;
  height: 57px; 
  border: 1px solid #ebebeb;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: #494b5a;
  padding-left: 15px;
  margin-right: 7px;
}
.header {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid #ebebeb;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-header {
  display: flex;
  justify-content: flex-end;
  margin-right: 121px;
}
.nav-header-item {
  padding: 16px;
}
.nav-header-item a {
  color: #5b5e6d;
}
.nav-header-item a:hover {
  color: #3f46ad;
}
.nav-header-workspace {
  border: 1px solid #323648;
  border-radius: 5px;
  padding: 10px;
}
.nav-header-workspace:hover {
  border-color: #3f46ad;
}
.logo-header {
  margin-left: 108px;
}
.intro-container {
  display: flex;
  height: 752px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}
.intro-text {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-left: 55px;
  margin-right: 140px;
}
.illustration {
  margin-top: 98px;
  margin-left: 25px;
  padding: 0;
}
.top-form,
.sing-in-top {
  margin-left: 55px;
  margin-top: 40px;
}
.sing-in-top,
.sing-in-btm {
  font-size: 0.875rem;
  margin-top: 20px;
  padding: 0;
}
.sing-in-top a,
.sing-in-btm a {
  color: #3f46ad;
  border-bottom: 1px solid #3f46ad;
}
.get-started {
  width: 172px;
  height: 57px; 
  background-color: #3F46AD;
  border-radius: 4px;
  border: 0 solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
.get-started:hover {
    background-color: #1c299d;
}
.partners {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #f5f5f5;
  height: 523px;
  border-bottom: 1px solid #ebebeb;
}
.partners-text {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 38px;
}
.discover-but {
  width: 188px;
  height: 57px;
  background-color: #ffffff;
  border: 1px solid #3f46ad;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #30309d;
  margin-top: 0;
  margin-bottom: 32px;
}
.discover-but:hover {
  border: 2px solid #1c299d;
}
.partners-logo-container {
  display: flex;
  flex-wrap: wrap;
  width: 1230px;
}
.partners-logo {
  display: flex;
  justify-content: center;
  height: 116px;
  width: 408px;
}
.partners-logo:nth-child(1),
.partners-logo:nth-child(2), 
.partners-logo:nth-child(3) {
  border-bottom: 1px solid #ebebeb;
}
.partners-logo:nth-child(1),
.partners-logo:nth-child(2), 
.partners-logo:nth-child(4),
.partners-logo:nth-child(5)  {
  border-right: 1px solid #ebebeb;
}
.try-it {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 155px;
  border-bottom: 1px solid #ebebeb;
}
.sing-in-btm {
  margin-left: 106px;
  margin-top: 0;
}
.btm-form {
  margin-right: 105px;
}
.nav-footer-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  height: 478px;
}
.btm-logo {
  margin-left: 106px;
  margin-top: 92px;
}
.nav-footer-block-container {
  display: flex;
  margin-top: 92px;
  margin-right: 205px;
}
.nav-footer-block {
  margin-left: 100px;
}
.nav-footer-list {
  padding: 0;
}
.nav-footer-listname {
  text-transform: uppercase;
  font-weight: 700;
  color: #6d6f7b;
}
.nav-footer-listitem {
  margin-bottom: 15px;
  margin-top: 15px;
}
.nav-footer-listitem a {
  color: #6d6f7b;
  font-size: 0.875rem;
  line-height: 1.2;
}
.nav-footer-listitem a:hover {
  color: #3f46ad;
}
.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  background-color: #f5f5f5;
}
.footer-btm-copyright-list {
  display: flex;
  padding: 0;
  margin-left: 105px;
}
.footer-btm-copyrightitem,
.footer-btm-social-item {
  margin-right: 15px;
  font-size: 0.875rem;
  font-weight: 700;
}
.footer-btm-copyrightitem a {
  color: #6d6f7b;
}
.footer-btm-copyrightitem a:hover {
  color: #3f46ad;
}
.footer-btm-social {
  display: flex;
  align-items: baseline;
  margin-right: 105px;
}
.footer-btm-social-button {
  margin-left: 23px;
}
.footer-btm-social-item {
  margin-right: 10px;
}
.footer-btm-social-item a {
  color: #6d6f7b;
}
